{% extends 'layout.html' %}

{% block content %}

    <form class="ui form" action="/users/add" method="post" enctype="multipart/form-data">
      <div class="field">
        <label>User name</label>
        <input type="text" name="username" placeholder="Enter Username..." />
      </div>
      <button class="ui blue button" type="submit">Add</button>
    </form>

    <hr />

    {% for user in user_list %}
    <div class="ui segment">
      <p class="ui big header">
        {{ user.id }} | {{ user.username }} 

        {% if user.todos %}
        <p>Assigned with:</p>
        <ul>
          {% for todo in user.todos %}
          <li>
            {{ todo.title }}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No assigned todos</p>
        {% endif %}
      </p>

      <!-- it should be PUT, but form tag only allows GET and POST -->
      <!-- todo: replace with ajax PUT -->
      <form method="post" action="/users/update/{{user.id}}">
        new username
        <input type="text" value="{{user.username}}" name="username" />
        <button class="ui blue button" type="submit">Update</button>
      </form>

      <!-- again, html form has no DELETE method -->
      <!-- todo: replace with ajax DELETE -->
      <form method="POST" action="/users/delete/{{user.id}}">
        <button class="ui red button" type="submit">Delete</button>
      </form>
    </div>
    {% endfor %}
{% endblock %} 
